*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.full-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color: black;
    color: white;
    /* text-align: center; */
}
a{
    text-decoration: none;
    font-size: larger;
}
/* nav Bar */
.navbar{

}
.logo{
    width: 100px;
    height: 45px;
    background-image: url(./logo1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.btn{

    margin-right: 20px;
    background-color: white;
    color: black;
}
.btn:hover{
    color: white;
    background-color: black;
}

/* main */
.main{
    margin-left: 5%;
    width: 90%;
    height: auto;
    background-color: #1e1d19;
    
    
}
.main_image{
    height: 500px;
    text-align: center;
    background-attachment: fixed;
    background-image: url(./banner1.jpg);
    background-size: cover; 
    background-repeat: no-repeat;  
    
}
.main_image-button{
    padding: 8px;
    background-color: white;
    color: black;
    border: none;
    margin-top: 50px;
    border-radius: 10px;
}
.main_image-head button{
    border: 1px solid green;
}
.main_image-head button:hover{
    color: white;
    background-color: black;
}
.main_image-head:hover{
    color: rgb(184, 26, 26);
}
.main_image-title{
    align-items: center;
    margin-top: 40px;
    padding-top: 30px;
    color: white;
}
.main_image-title h1{
   
    margin: 0 50px; 
    font-weight: bolder;
}

/* main_content */

.main_content{
    margin-left: 10%;
    width: 80%;
    height: auto;
}
.main_content-image{
    height: 500px;
    background-image: url(./article2.png);
    background-size: cover;
   margin-top: -150px;   
}
.main_info{
    padding: auto;
    margin: auto;
    align-items: center;
}
.main_info-para{
    line-height: 6vh;
    word-spacing: 1vh;
    margin-top: 40px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
}
/* footer */
.footer{
    height: 300px;
    text-align: center;
}
.footer_title{
    margin-top: 10%;

}
.footer_icons{
    margin-top: 2%;
}
.footer_paragraph{
    padding-top: 2%;
    margin: 0 65% 0 0;
}