*{

}
.navbar1{
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #171616;
}
.nav1{
	width: 10vw;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.nav2{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
a{
	color: white !important;
	font-size: 26px !important;
}
.fa-twitter{
	  color:white !important;
	  font-size: 40px !important;
}
.fa-facebook{
	color:white !important;
	font-size: 40px !important;
}
.fa-instagram{
	color:white !important;
	font-size: 40px !important;
}
.button-navbar{
	margin-right: 5px;
}
.navbar-button{
	color: white;
	padding:5px;
}
.banner1{
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
	background-color: #1e1d19;
	align-items: center;
}
.image-banner1{
	height: 30vh;
}
.fa-bars{
	color:white !important;
	font-size: 40px !important;
}
.fa-search{
	color:white !important;
	font-size: 40px !important;
}
.articles{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #1e1d19;
	padding: 20px;
}
.navbar2{
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #1e1d19;
}


.card{
	border-radius: 10px !important;
	background-color: black !important;
}
.card-text{
	color: white;
	font-size: 24px;
}
.article-image{
	border-radius: 10px !important;
}
.navbar3{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #1e1d19;
	padding-top: 10px;
	font-size: 25px;
}
.show-more{
	font-size: 50px;
	font-family: sans-serif;
	padding-right: 5px;
}
.fa-caret-right{
	color: white;
}
.banner2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.image-banner2{
		height: 50vh;
		width: 100%;
}
.top{
	position: relative;
}
.second{
	position: absolute;
	padding-top: 5vh;
	color: white;
}
.third{
	position: absolute;
	color: white;
	padding-top: 20vh;
	font-family: sans-serif;
	font-size: 30px;
  	text-shadow: 1.5px 1.5px 2px gray;	
}
.fourth{
	position: absolute;
	padding-top: 30vh;

}
.heading{
	font-size: 65px;
  	font-family: 'Trebuchet MS', sans-serif;
  	text-shadow: 1.5px 1.5px 2px gray;
}
.heading2{
	color: white;
	font-size: 43px;
	font-family: sans-serif;
}
.articles2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #1e1d19;
	padding: 0px;
}