body{
    margin:0;
    padding:0;
}
.containers{
    width:100vw;
    height:100vh;
    position:absolte;
    left:0;
    right:0;

}
.header{
    width: 100vw;
    border: 1px solid orange;
    background-color:hsl(236, 68%, 9%);
}
.logo,.login-profile{
    width:200px;
    height:auto;
    margin-top:10px;
    margin-bottom: 10px;
}
input{
    width:90% !important;
    padding:10px !important;
    height:50px !important;
    margin:15px !important;
    font-size:18px !important;
    font-weight:bolder !important;
    overflow-y: auto !important;
    border:none !important;
}
textarea{
    width:90% !important;
    padding:10px !important;
    height:50vh !important;
    margin:5px 15px !important;
    font-size:18px !important;
    overflow-y: auto !important;
    resize: none !important;
    border: none !important;
}
textarea:focus,input:focus{
    border:1px solid #ff5722 !important;
    border-radius: 8px !important;
    box-shadow:none !important;

}
button{
    margin: 1px 15px !important;
    padding:5px !important;
    background-color: orange !important;
    border:none !important;
}
button:hover{
    background-color: white !important;
    color:orange !important;
    border:1px solid orangered !important;
}
.post{
    text-align: center;
}
.post button{
    width:14vw !important;
    height:6vh !important;
    font-size:90% !important;
    margin-top: 1vh !important;
}
.logo,.createpost{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px !important;
    color:white;    
}
.createpost{
    font-size: 25px !important;
}
span{
    color:hsla(16, 100%, 50%, 0.815) !important;
}
.formatting-section,.blog-section{
    border: 0.1px solid #ff5722;
    margin:13px;
    border-radius:20px;
    width:90vw;
}
h1,p{
    padding: 10px;
    margin:10px;
    font-family: 'Raleway', sans-serif;
}
.blog-section{
    height:76vh;
    margin-left:20px;
}
p{
    font-size:20px;
}
