*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.Myproject{
    height: 100%;
    width: 100%;
    background-color: #1e1d19;
   
    background-position: center;
    background-size:  cover;
    position: absolute;
   
    
}


.form-box{
    width: 350px;
    height: 60%;
    position: relative;
    margin: center;
    background:  rgb(250, 253, 255);
    margin: 10% 0 0 38%;
    border-radius: 5%;
    overflow: hidden;

}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 34px 11px #ced6f2;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

 }
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, grey, #f3f1f1); 
    border-radius: 30px;
    transform: 5s;
}
.social-icons{
    
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0px 12px;
    box-shadow: 0 0 20px 0 #cdd0ed;
    cursor: pointer;
    border-radius: 50%;
    
}

.input-group{
    top: 180px;
    position: absolute;
    width: 270px;
    transform: 5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #f7f3f3;
    outline: none;
    background: #f6f6f6;
}

.submit-btn{

    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, grey, #f3f1f1);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.chech-box{
    margin: 30px 10px 30px 0;
}

span{
    color: rgb(19, 1, 1);
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}